{% extends 'base.html.twig' %}

{% block title %}Edit Pettype{% endblock %}

{% block body %}
    <h1>Edit Pettype</h1>

    {{ include('pettype/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pettype_index') }}">back to list</a>

    {{ include('pettype/_delete_form.html.twig') }}
{% endblock %}
