{% extends 'base.html.twig' %}

{% block title %}Pettype index{% endblock %}

{% block body %}
    <h1>Pettype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pettype in pettypes %}
            <tr>
                <td>{{ pettype.id }}</td>
                <td>
                    <a href="{{ path('app_pettype_show', {'id': pettype.id}) }}">show</a>
                    <a href="{{ path('app_pettype_edit', {'id': pettype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pettype_new') }}">Create new</a>
{% endblock %}
